/* Vars */
/* line 4, ../scss/main.scss */
input[type='number'] {
  -moz-appearance: textfield;
  display: block;
  margin: auto;
}

/* line 11, ../scss/main.scss */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

/* line 17, ../scss/main.scss */
section {
  margin-top: 50px;
}

/* line 20, ../scss/main.scss */
th {
  text-align: center;
}

/* line 23, ../scss/main.scss */
input {
  text-align: center;
}

/* line 27, ../scss/main.scss */
.container {
  margin-top: 100px;
}

/*.week-selection{
  border: 3px dashed #ccc;
}*/
/* line 35, ../scss/main.scss */
.week-selection button {
  margin-right: 10px;
}
