/* Vars */


input[type='number'] {
  -moz-appearance:textfield;
  display: block;
  margin: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

section{
  margin-top: 50px;
}
th{
  text-align: center;
}
input{
  text-align: center;
}

.container{
  margin-top: 100px;
}

/*.week-selection{
  border: 3px dashed #ccc;
}*/

.week-selection button{
  margin-right: 10px;
}



