<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Work Times</title>


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="node_modules/sweetalert/dist/sweetalert.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body ng-controller="DateController" ng-init="init()">

   <!-- <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Time Picker</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        </div>
      </div>
    </nav> -->

    <div class="container">
      <!--<button id="login">Login</button>-->
      <h1>Work Times</h1>
      <div class="btn-group btn-group-lg" role="group">
        <button class="btn btn-primary" ng-click="showWeeks($index)" ng-repeat="month in months">{{month}}</button>
      </div>
      <section class="week-selection">
        <h2>{{selectedMonth.text}}</h2>
        <button class="btn btn-primary" ng-click="displayTimeForm(sunday.day, sunday.month)" ng-repeat="sunday in sundays">{{sunday.text}}</button>
      </section>
      <section class="time-input-form">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th ng-repeat="day in inputDays">{{day.weekday}}<br>{{day.month+1}}/{{day.date}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td ng-repeat="day in inputDays"><input id="num_{{day.weekday}}" ng-model="day.hoursWorked" ng-model-options="{updateOn: 'blur'}" type="number" min="0" max="24" value="{{day.hoursWorked}}" required></td>
            </tr>
          </tbody>
        </table>
        <h4 ng-if="inputDays.length > 0">Hours Worked this Week: {{ getWeeklyHours().toPrecision(3) }}</h4>
        <button class="btn btn-primary" ng-click="submitTimes()" ng-if="inputDays.length > 0">Submit Hours</button>
      </section>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="node_modules/sweetalert/dist/sweetalert.min.js"></script>
    <script src="js/moment/moment.js"></script>
    <script src="js/base.js"></script>
  </body>
</html>